*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color : #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

* h3{
    color: rgb(112, 112, 112);
}


html,body {
    width: 100%;
    height:100%;
}


#main{
    width: 100%;
    height: 100%;
    background-color: #090909;
    position: relative;
}


#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 50px;

}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 50px;   
}

#nav h3{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;

}

#main h1{
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 120px;
    /* background-color: red; */
    position: relative;
    z-index: 100;
    width: 80%;
    margin-left: 10%;


}

#main h1:nth-child(2){
    margin-top: 180px;
}


#main h1:nth-child(3){
    text-align: center;

}

#main h1:nth-child(4){
    text-align: center;
    
}

img{
    height: 400px;
    position: absolute;
    top: 12%;
    left: 40%;
}

#img1{
    rotate: 20deg;
}

#img2{
    rotate: 10deg;
}


#bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    /* background-color: red; */
    margin-top: 60px;
}

#bottom h3{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
}

#last{
  position: relative;
  right: 45%;
}